.wrapper{
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.circle1{
    min-width: 30rem;
    min-height: 30rem;
    background-color: brown;
    clip-path: circle(50% at 50% 50%);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 600ms ease-in-out;

}

.circle2{
    min-width: 20rem;
    min-height: 20rem;
    background-color: rgb(52, 165, 42);
    clip-path: circle(50% at 50% 50%);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 600ms ease-in-out;
}

.circle3{
    min-width: 10rem;
    min-height: 10rem;
    background-color: rgb(42, 42, 165);
    clip-path: circle(50% at 50% 50%);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 600ms ease-in-out;
}

.change1{
    min-width: 40rem;
    min-height: 40rem;
}

.change2{
    min-width: 30rem;
    min-height: 30rem;
}

.change3{
    min-width: 20rem;
    min-height: 20rem;
}